/* ---------- basic styles ---------- */
html {
    background-color: #ececec;
}

body {
    font-family: 'Roboto Flex', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

header {
    min-height: 8rem;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    color: #778;
}

footer {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    color: rgba(100, 100, 100, 0.5);
    /* background-color: rgb(196, 206, 215); */
    flex-flow: column;
    align-self: center;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    order: 1;
    padding: 3rem;
    margin-top: auto;
}

header,  main, footer {
    flex-shrink: 0;
    display: flex;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
}

h1 {
    text-transform: uppercase;
    font-size: 1.75rem;
}

h2 {
    font-weight: 600;
    font-size: 1rem;
}

p {
    font-size: 0.75rem;
    color: #778;
}

.no-results {
    font-weight: 200;
    color: rgb(178, 178, 178);
    margin: 15rem auto 0px;
    max-width: 80%;
}

.social {
    height: 32px;
    width: auto;
    opacity: 0.5;
    margin: 1rem;
}

.header-container {
    display: flex;
    flex-flow: row nowrap;
    margin: 0rem 1.5rem;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.employee-search .header-container {
    margin: 0px;
}

button {
    height: 2.75rem;
    margin: 0px;
    font-size: 1rem;
    padding: 0px 1rem;
    border: 1px solid #778;
    border-left: none;
    border-radius: 0px 4px 4px 0px; 
}

input {
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
    height: 2.75rem;
    padding-left: 0.5rem;
    padding-right: 0px;
    margin: 0px 0px 0px 1rem;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #778;
}

input:focus,
input:focus-visible,
button:focus {
    border-color: lightskyblue;
    box-sizing: border-box;
    outline: none;
    box-shadow: 0px 0px 5px rgba(100, 100, 100, 0.25);
}

input::placeholder {
    font-size: 1rem;
    color: rgb(145, 145, 145);
}

.employee-search {
    font-weight: 200;
    font-size: 1.25rem;
}

/* ---------- card styles ---------- */
.card {
    display: flex;
    flex-flow: row nowrap;
    align-self: start;
    flex-grow: 1;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: center;
    flex-basis: 0;
    background-color: #f4f4f4;
    padding: 0.5rem;
    margin: 0.75rem;
    border: 1px solid darkgrey;
    border-radius: 4px;
    min-width: 300px;
    text-align: left;
    box-shadow: 0px 0px 3px rgba(100, 100, 100, 0.15);
}

.card:hover {
    cursor: default;
    opacity: 0.65;
    border-color: lightskyblue;
    transition-duration: 200ms;
}

.card img {
    padding: 0.5rem;
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    align-self: flex-start;
}


.card .name{
    font-weight: 600;
    text-align: left;
}

.grid-container {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    align-content: flex-start;
    align-items: stretch;
    justify-content: space-between;
    margin: 0rem auto 0.5rem;
    padding: 0.5rem;
    min-width: 320px;
    max-width: 1500px;
}

.text-container p {
    font-family: 'Roboto Flex', monospace;
    font-weight: 200;
    line-height: 0.75;
}


/* ---------- overlay styles ---------- */
.overlay {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: rgba(100, 100, 100, 0.3);
    width: 100%;
    height: 100%;
}

.modal {
    display: flex;
    flex-flow: column nowrap;
    min-width: 375px;
    margin: 15% auto auto;
    position: relative;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
    box-shadow: 0px 2px 15px rgba(100, 100, 100, 0.3);
}

.modal-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    line-height: 0.5rem;
}

.modal-close {
    font-weight: bold;
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    background-color:black;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.hidden {
    display: none;
}

.modal .text-container,
.modal p {
    text-align: center;
    font-size: 1rem;
}

.modal h2 {
    font-size: 1.5rem;
    margin: 1.75rem auto;
}

.modal img {
    width: 128px;
    height: 128px;
    margin: auto;
    border-radius: 50%;
}

hr {
    border: 1px solid lightgrey;
    max-width: 70%;
    margin: 2rem auto;
    align-self: center;
}

.fa-circle-arrow-left {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    color: black;
}

.fa-circle-arrow-right {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    color: black; 
}

.modal span:hover {
    cursor: pointer;
    opacity: 65%;
    transition-duration: 200ms;
}

/* ---------- media queries ---------- */
@media screen and (min-width: 768px) {
    header {
        flex-flow: column nowrap;
        justify-content: stretch;
        margin: 2rem auto 0px;
    }

    .employee-search {
        padding: 1rem;
        border-radius: 8px;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
    }

    .employee-search span {
        width: 100%;
        align-self: center;
        text-align: center;
    }

}
@media screen and (min-width: 1024px) {
    header,
    footer,
    .grid-container {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        width: 100%;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    header:first-child {
        min-width: 500px;
    }

    .employee-search {
        background-color: transparent;
        align-items: center;
        justify-content: flex-end;
        flex-flow: row wrap;
        padding: 0px;
        max-width: 35%;
    }

    .employee-search span {
        margin: 0.5rem;
        width: 100%;
        text-align: right;
    }
}

@media screen and (max-width: 768px) {
    header, .employee-search, .header-container{
        flex-flow: row wrap;
        justify-content: stretch;
        align-content: center;
        width: 100%;
    }

    header {
        margin: 2rem auto;
        text-align: center;
    }

    input {
        flex-grow: 2;
    }

    button {
        flex-shrink: 1;
    }

    input, button {
        height: 3rem;
        margin-left: 0px;
        margin-right: 0px;
    }

    h1 {
        width: 100%;
    }

    .grid-container h1 {
        padding: 2rem;
    }

    .employee-search .header-container {
        flex-flow: row nowrap;
        width: 100%;
        padding: 0px;
        margin: 0px;
        justify-content: space-between;
        align-content: stretch;
    }

    .employee-search span {
        width: 100%;
        text-align: center;
        margin-bottom: 0.5rem;
    }
}