html {
    background-color: #ececec;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Flex', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

header {
    min-height: 8rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    color: #778;
}

footer {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    color: rgba(100, 100, 100, 0.5);
    /* background-color: rgb(196, 206, 215); */
    display: flex;
    flex-flow: column;
    align-self: center;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    order: 1;
    padding: 3rem;
    margin-top: auto;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
}

h2 {
    font-weight: 600;
    font-size: 1rem;
}

p {
    font-size: 0.75rem;
}

.card .name{
    font-weight: 600;
    text-align: left;
}

.social {
    height: 32px;
    width: auto;
    opacity: 0.5;
    margin: 1rem;
}

.overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.3);
    width: 100%;
    height: 100%;
}

.modal {
    display: flex;
    flex-flow: column nowrap;
    min-width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px; 
}

.modal-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.modal-close {
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 5px;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    background-color:black;
    text-align: center;
}

.hidden {
    display: none;
}

.modal .text-container {
    text-align: center;
}

.text-container p {
    font-family: 'Roboto Flex', monospace;
    font-weight: 300;
}

.card {
    display: flex;
    align-self: start;
    flex-grow: 1;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: center;
    flex-basis: 0;
    background-color: #f4f4f4;
    padding: 0.5rem;
    margin: 0.75rem;
    border: 1px solid darkgrey;
    border-radius: 4px;
    min-width: 300px;
    text-align: left;
    box-shadow: 0px 0px 3px rgba(100, 100, 100, 0.15);
}

.card img {
    padding: 0.5rem;
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    align-self: flex-start;
}

.modal image {
    width: 128px;
    height: 128px;
    margin: auto;
}

.grid-container {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    align-content: flex-start;
    align-items: stretch;
    justify-content: space-between;
    margin: 0rem auto 0.5rem;
    padding: 0.5rem;
    min-width: 320px;
    max-width: 1500px;
}

header,  main, footer {
    flex-shrink: 0;
}

.header-container {
    margin: 0rem 1.5rem;
}